body {
  margin: auto 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.comp-folder {
  margin: auto 0;
}

.user-container,
.comp-container {
  margin-top: auto 0;
  display: flex;
  align-items: center;
}

.user-folder,
.comp-folder {
  margin-right: 10px;
}

.user-folder2 {
  position: relative;
}

.user-folder2 .folder2-input-tooltip {
  background-color: grey;
  color: wheat;
  font-weight: bold;
  font-size: 0.6rem;
  padding: 8px 15px;
  white-space: nowrap;

  position: absolute;
  top: -30px;
  right: -150px;

  opacity: 0;
  pointer-events: none;
}

.user-folder2:hover .folder2-input-tooltip {
  opacity: 1;
}

.submit-button,
.reset-button {
  background-color: rgb(64, 129, 221);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  border-radius: 2px;
  padding: 8px 15px;
  margin-left: 30px;

  cursor: pointer;
  transition: all linear 0.15s;
}

.submit-button:hover {
  -webkit-box-shadow: 2px 2px 2px 0px rgb(197, 197, 197),
    2px 2px 2px 1px rgb(197, 197, 197);
  -o-box-shadow: 2px 2px 2px 0px rgb(197, 197, 197),
    2px 2px 2px 1px rgb(197, 197, 197);
  -ms-box-shadow: 2px 2px 2px 0px rgb(197, 197, 197),
    2px 2px 2px 1px rgb(197, 197, 197);
  -moz-box-shadow: 2px 2px 2px 0px rgb(197, 197, 197),
    2px 2px 2px 1px rgb(197, 197, 197);
  box-shadow: 2px 2px 2px 0px rgb(197, 197, 197),
    2px 2px 2px 1px rgb(197, 197, 197);
}
